<h1>Add study</h1>
<form class="u-flex-wrap gap-15" [formGroup]="addStudyForm">
    <div class="u-flex-column u-half-width">
        <label class="c-input-label" for="name">Name</label>
        <input class="c-input" type="text" name="name" id="name" formControlName="name" autocomplete="off">
    </div>
    <div class="u-flex-column u-half-width">
        <label class="c-input-label" for="code">Code</label>
        <input class="c-input" type="text" name="code" id="code" formControlName="code" autocomplete="off">
    </div>
    <div class="u-flex-center">
        <button class="c-button c-button__action" (click)="submit()" type="submit">Create</button>
    </div>
  </form>