<div class="u-flex-between">
    <h1>Schedule</h1>
    <button class="c-button c-button__action" [routerLink]="['./new']">Add event</button>
</div>
<div class="c-schedule" *ngIf="matrix.length">
    <div class="u-flex">
        <div class="c-schedule__cell"></div>
        <div class="c-schedule__cell" *ngFor="let d of daysValues">
            <span>{{ d }}</span>
        </div>
    </div>
    <div class="u-flex" *ngFor="let row of matrix; let i = index;">
        <div class="c-schedule__cell">
            <span>{{ periods[i].start}} - {{ periods[i].end }}</span>
        </div>
        <div class="c-schedule__cell" *ngFor="let col of row; let j = index;" [ngClass]="{ 'c-schedule__cell--fill' : col }" (click)="previewEvent(col)">
            <div class="u-full-width u-full-height u-flex-column u-flex-between" *ngIf="col">
                <span>{{ col.title }}</span>
                <span class="c-schedule__cell-subtitle">{{ col.classroom.code }}</span>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="eventPreviewInProgress">
    <app-modal>
        <div class="u-flex-center">
            <div class="c-modal">
                <fa-icon class="c-modal__close" (click)="eventPreviewInProgress = false;" [icon]="faXmark" [size]="'lg'"></fa-icon>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Title</span>
                    <span>{{ displayEvent.title }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Details</span>
                    <span>{{ displayEvent.details }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Course</span>
                    <span>{{ displayEvent.course.name }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Classroom</span>
                    <span>{{ displayEvent.classroom.code }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Period</span>
                    <span>{{ displayEvent.period.start }} - {{ displayEvent.period.end }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Recurring</span>
                    <span>{{ displayEvent.recurring }}</span>
                </div>
            </div>
        </div>
    </app-modal>
</ng-container>    
