<div class="u-flex-between">
    <h1>Schedule</h1>
    <button class="c-button c-button__action" [routerLink]="['./new']" *ngIf="authService.isAdmin()">Add event</button>
</div>
<div>
    <div class="u-flex gap-10 m-b-20">
        <fa-icon class="u-hover-pointer" [icon]="faChevronLeft" (click)="changeCurrentWeek(-1)"></fa-icon>
        <p>{{ startOfTheWeek }} - {{ endOfTheWeek }}</p>
        <fa-icon class="u-hover-pointer" [icon]="faChevronRight" (click)="changeCurrentWeek(1)"></fa-icon>
    </div>
</div>
<div class="c-schedule" *ngIf="scheduel.length">
    <div class="u-flex">
        <div class="c-schedule__cell"></div>
        <div class="c-schedule__cell" *ngFor="let d of daysValues">
            <span>{{ d }}</span>
        </div>
    </div>
    <div class="u-flex" *ngFor="let row of scheduel; let i = index;">
        <div class="c-schedule__cell">
            <span>{{ periods[i].start}} - {{ periods[i].end }}</span>
        </div>
        <div class="c-schedule__cell" *ngFor="let col of row; let j = index;" [ngClass]="{ 'c-schedule__cell--fill' : col }" (click)="previewEvent(col)">
            <div class="u-full-width u-full-height u-flex-column u-flex-between" *ngIf="col">
                <span>{{ col.title }}</span>
                <span class="c-schedule__cell-subtitle">{{ col.classroom.code }}</span>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="eventPreviewInProgress">
    <app-modal>
        <div class="u-flex-center">
            <div class="c-modal">
                <fa-icon class="c-modal__close" (click)="eventPreviewInProgress = false;" [icon]="faXmark" [size]="'lg'"></fa-icon>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Title</span>
                    <span>{{ displayEvent.title }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Details</span>
                    <span>{{ displayEvent.details }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Course</span>
                    <span>{{ displayEvent.course.name }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Classroom</span>
                    <span>{{ displayEvent.classroom.code }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Period</span>
                    <span>{{ displayEvent.period.start }} - {{ displayEvent.period.end }}</span>
                </div>
                <div class="c-card__item c-card__item--full-width">
                    <span class="c-card__item--title-color">Recurring</span>
                    <span>{{ displayEvent.recurring ? 'Yes' : 'No' }}</span>
                </div>
                <div class="u-flex-column gap-10 u-full-width" *ngIf="authService.isAdmin()">
                    <button class="c-button c-button--primary" [routerLink]="['./' + displayEvent.id + '/edit']">Edit</button>
                    <button class="c-button c-button--secondary" (click)="eventPreviewInProgress = false; cancelInProgress = true;">Cancel event on {{ getCurrentEventDay() }}</button>
                    <button class="c-button c-button--danger" (click)="eventPreviewInProgress = false; deleteInProgress = true;">Delete event</button>
                </div>
            </div>
        </div>
    </app-modal>
</ng-container>    

<ng-container *ngIf="deleteInProgress || cancelInProgress">
    <app-modal>
        <app-delete-modal (confirmDelete)="confirmDelete($event)" class="u-flex-center"></app-delete-modal>
    </app-modal>
</ng-container>