// Elements - Headings
h1 {
    margin-bottom: 25px;
    color: $secondary;
    font-weight: 200;
    font-size: 42px;
}

h1 {
    margin-bottom: 25px;
    color: $secondary;
    font-weight: 200;
    font-size: 32px;
}