<h1>Edit course</h1>
<form *ngIf="course" class="u-flex-column gap-15" [formGroup]="editCourseForm">
    <div class="u-flex-column">
        <label class="c-input-label" for="name">Name</label>
        <input class="c-input" type="text" name="name" id="name" formControlName="name" autocomplete="off">
    </div>
    <div class="u-flex-column">
        <label class="c-input-label" for="code">Code</label>
        <input class="c-input" type="text" name="code" id="code" formControlName="code" autocomplete="off">
    </div>
    <div class="u-flex-column">
        <label class="c-input-label" for="owner">Owner</label>
        <select class="c-input" formControlName="owner">
            <option *ngFor="let admin of admins" [ngValue]="admin.id">
              {{ admin.firstName }}  {{ admin.lastName }}
            </option>
        </select>
    </div>
    <div class="u-flex-column">
        <label class="c-input-label" for="study">Study</label>
        <select class="c-input" formControlName="study">
            <option *ngFor="let study of studies" [ngValue]="study.id">
              {{ study.name }}
            </option>
        </select>
    </div>
    <button class="c-button" (click)="submit()" type="submit">Update</button>
  </form>