.#{$c}modal {
    @include flex-center;
    @include flex-column;
    z-index: 1000;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    gap: 20px;
    padding: 20px;
    min-width: 300px;
    position: relative;
}

.#{$c}modal__backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(32, 33, 58, 0.5);
}

.#{$c}modal__close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}